<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/login">
        Login
      </ion-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="crearUsuario()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Correo" [(ngModel)]="usuario.correoUsuario" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="usuario.passUsuario" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="user" type="text" placeholder="Nombres" [(ngModel)]="usuario.nombreUsuario" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="apellidop" type="text" placeholder="Apellido paterno" [(ngModel)]="usuario.apellidoPaternoUsuario" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="apellidom" type="text" placeholder="Apellido materno" [(ngModel)]="usuario.apellidoMaternoUsuario" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-datetime name="fecha" placeholder="Fecha de nacimiento" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [(ngModel)]="usuario.fechaNacimientoUsuario" ngModel required></ion-datetime>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" expand="block">Registrarse</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
