<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/tabs/tab1">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>Ver Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{contacto.nombre_contacto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>{{contacto.apellido_paterno_contacto}} {{contacto.apellido_materno_contacto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>{{contacto.telefono_contacto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>{{contacto.correo_contacto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>{{contacto.ciudad_contacto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>{{contacto.direccion_contacto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>{{contacto.fecha_nacimiento_contacto}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-button (click)="editarContacto()" expand="block">Editar contacto</ion-button>
  <ion-button (click)="eliminarContacto()" expand="block">Eliminar contacto</ion-button>
</ion-content>
