<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/nuevo-evento">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let evento of eventos">
    <ion-card-header>
      <ion-button (click)="editarEvento(evento.id_evento)">Editar</ion-button>
      <ion-button (click)="eliminarEvento(evento.id_evento)">Eliminar</ion-button>
      <ion-card-subtitle>{{evento.fecha_evento}}</ion-card-subtitle>
      <ion-card-title>{{evento.hora_inicio_evento}} - {{evento.hora_fin_evento}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="calendar" slot="start"></ion-icon>
      {{evento.nombre_evento}}
    </ion-card-content>

  </ion-card>



</ion-content>
