<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/nuevo-contacto">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="searchIcon" [showCancelButton]="false" (ionChange)="buscar()" [(ngModel)]="palabra" ngModel required></ion-searchbar>
  <ion-card>
    <ion-item *ngFor="let contacto of contactos">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{contacto.nombre_contacto}} {{contacto.apellido_paterno_contacto}}</ion-label>
      <ion-button (click)="verContacto(contacto.id_contacto)" fill="outline" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
