<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>{{usuario.correo_usuario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{usuario.nombre_usuario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>{{usuario.apellido_paterno_usuario}} {{usuario.apellido_materno_usuario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>{{usuario.fecha_nacimiento_usuario}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-button (click)="cerrarSesion()" expand="block">Cerrar sesión</ion-button>
</ion-content>
