<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/tabs/tab2">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="crearEvento()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input name="nombre" type="text" placeholder="Titulo del evento" [(ngModel)]="evento.nombreEvento" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-datetime name="fecha" placeholder="Fecha" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [(ngModel)]="evento.fechaEvento" ngModel required></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-icon name="time" slot="start"></ion-icon>
              <ion-datetime name="horaI" placeholder="Hora inicio" displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="evento.horaInicioEvento" ngModel required></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-icon name="time" slot="start"></ion-icon>
              <ion-datetime name="horaF" placeholder="Hora fin" displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="evento.horaFinEvento" ngModel required></ion-datetime>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" expand="block">Registrar evento</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
