<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/tabs/tab1">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="crearContacto()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input name="nombre" type="text" placeholder="Nombres" [(ngModel)]="contacto.nombreContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-input name="apellidop" type="text" placeholder="Apellido paterno" [(ngModel)]="contacto.apellidoPaternoContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-input name="apellidom" type="text" placeholder="Apellido materno" [(ngModel)]="contacto.apellidoMaternoContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-input name="telefono" type="number" placeholder="Teléfono" [(ngModel)]="contacto.telefonoContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-input name="correo" type="email" placeholder="Correo" [(ngModel)]="contacto.correoContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="business" slot="start"></ion-icon>
              <ion-input name="ciudad" type="text" placeholder="Ciudad" [(ngModel)]="contacto.ciudadContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-input name="direccion" type="text" placeholder="Direccion" [(ngModel)]="contacto.direccionContacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-datetime name="fecha" placeholder="Fecha de nacimiento" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [(ngModel)]="contacto.fechaNacimientoContacto" ngModel required></ion-datetime>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" expand="block">Registrarse</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
