<ion-content padding>
  <ion-text color="dark">
    <h1 class="title_section"><strong>Iniciar sesión</strong></h1>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="comprobarLogin()">
    <div>
      <ion-item>
        <ion-input name="email" type="email" placeholder="Correo" [(ngModel)]="login.correoUsuario" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="login.passUsuario" ngModel required></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-button type="submit" expand="block">Login</ion-button>
    </div>
  </form>
  <ion-text class="link_text" color="medium">
    <p>¿No tienes cuenta? <ion-text color="primary"><a routerLink="/register">Crear cuenta</a></ion-text></p>
  </ion-text>
</ion-content>
